VteTerminal,
TerminalScreen,
vte-terminal {
    padding: 05px 05px 05px 05px;
    -VteTerminal-inner-border: 05px 05px 05px 05px;
}

/*** TERMINAL ***/

terminal-screen-container box {
	padding: 12px;
}

terminal-window {
	background-color: #1e1e1e; /*** osx: #151515 ***/
	border-radius: 0 0 12px 12px;
}

terminal-window decoration {
	border-radius: 12px;
}

terminal-window stack {
	background: none;
}
