VteTerminal,
TerminalScreen,
vte-terminal {
    padding: 05px 05px 05px 05px;
    -VteTerminal-inner-border: 05px 05px 05px 05px;
}

wnck-pager { background: #333; color: #ccc }
wnck-pager:selected { background: #555; color: black }
