[user]
onlyDisplayVisible=false
keyComboActive=true
noWindowsListIfSingle=true
showPreviews=true
pinned=/usr/share/applications/firefox.desktop;/usr/local/share/applications/emacsclient.desktop;/var/lib/flatpak/exports/share/applications/org.telegram.desktop.desktop;/usr/share/applications/discord.desktop;/home/diamond/.local/share/applications/spotify-adblock.desktop;
forceIconSize=true
iconSize=24
