<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/                 file:///usr/share/openbox/menu.xsd">
	<menu id="root-menu" label="Openbox 3">
		<item label="term">
			<action name="Execute">
				<execute>xfce4-terminal</execute>
			</action>
		</item>
		<item label="files">
			<action name="Execute">
				<execute>thunar</execute>
			</action>
		</item>
		<item label="music">
			<action name="Execute">
				<execute>xfce4-terminal -e ncmpcpp --geometry=55x15</execute>
			</action>
		</item>
		<item label="web">
			<action name="Execute">
				<execute>firefox</execute>
			</action>
		</item>
		<separator/>
		<menu id="root-menu-93530" label="games">
			<menu id="root-menu-93530-123156" label="emu">
				<item label="n64">
					<action name="Execute">
						<execute>mupen64plus-qt</execute>
					</action>
				</item>
				<item label="gba">
					<action name="Execute">
						<execute>mgba-qt</execute>
					</action>
				</item>
				<item label="snes">
					<action name="Execute">
						<execute>zsnes</execute>
					</action>
				</item>
			</menu>
			<separator/>
			<item label="cavestory">
				<action name="Execute">
					<execute>/home/diamond/bin/cavestory</execute>
				</action>
			</item>
			<item label="undertale">
				<action name="Execute">
					<execute>env WINEPREFIX=&quot;/home/diamond/.wine&quot; wine-stable C:\\windows\\command\\start.exe /Unix /home/diamond/.wine/dosdevices/c:/ProgramData/Microsoft/Windows/Start\ Menu/Programs/GOG.com/Undertale/Undertale.lnk</execute>
				</action>
			</item>
			<item label="pinball">
				<action name="Execute">
					<execute>env WINEPREFIX=&quot;/home/diamond/.wine&quot; wine-stable C:\\windows\\command\\start.exe /Unix /home/diamond/.wine/dosdevices/c:/users/diamond/Start\ Menu/Programs/Games/Pinball.lnk</execute>
				</action>
			</item>
			<item label="asteroids">
				<action name="Execute">
					<execute>AstroMenace</execute>
				</action>
			</item>
		</menu>
		<!--<menu id="help" label="Help" execute="cbpp-help-pipemenu" />-->
		<menu id="settings" label="misc">
			<menu id="settings-99037" label="cpu">
				<item label="performance">
					<action name="Execute">
						<execute>xfce4-terminal -e &quot;/home/diamond/bin/maxperf&quot;</execute>
					</action>
				</item>
				<item label="powersave">
					<action name="Execute">
						<execute>xfce4-terminal -e &quot;/home/diamond/bin/minperf&quot;</execute>
					</action>
				</item>
				<separator/>
				<item label="tune">
					<action name="Execute">
						<execute>xfce4-terminal -e &quot;sudo powertop --auto-tune&quot; --title &quot;auto power tune&quot;</execute>
					</action>
				</item>
				<item label="sensors">
					<action name="Execute">
						<execute>xfce4-terminal --title &quot;Sensors&quot; -e &quot;watch -n .1 sensors&quot;</execute>
					</action>
				</item>
				<item label="freq-info">
					<action name="Execute">
						<execute>xfce4-terminal --title &quot;cpu freq-info&quot; -e &quot;watch -n .1 cpupower frequency-info&quot;</execute>
					</action>
				</item>
			</menu>
			<menu id="obConfig" label="config">
				<menu id="obConfig-531325" label="bg">
					<item label="black">
						<action name="Execute">
							<execute>/home/diamond/bin/wp_black</execute>
						</action>
					</item>
					<item label="gray">
						<action name="Execute">
							<execute>/home/diamond/bin/wp_gray</execute>
						</action>
					</item>
					<item label="blue">
						<action name="Execute">
							<execute>/home/diamond/bin/wp_blue</execute>
						</action>
					</item>
					<item label="purple">
						<action name="Execute">
							<execute>/home/diamond/bin/wp_purple</execute>
						</action>
					</item>
					<item label="checker">
						<action name="Execute">
							<execute>/home/diamond/bin/wp_checker</execute>
						</action>
					</item>
				</menu>
				<separator/>
				<item label="autostart">
					<action name="Execute">
						<execute>mousepad ~/.config/openbox/autostart</execute>
					</action>
				</item>
				<item label="obconf">
					<action name="Execute">
						<execute>obconf</execute>
					</action>
				</item>
				<item label="obmenu">
					<action name="Execute">
						<execute>obmenu</execute>
					</action>
				</item>
				<item label="obkey">
					<action name="Execute">
						<execute>obkey</execute>
					</action>
				</item>
				<item label="lxappearance">
					<action name="Execute">
						<execute>lxappearance</execute>
					</action>
				</item>
			</menu>
			<separator/>
			<item label="acme">
				<action name="Execute">
					<execute>bash -ic &quot;acme -a -f /mnt/font/Monaco/10a/font $1&quot;</execute>
				</action>
			</item>
			<item label="telegram">
				<action name="Execute">
					<execute>telegram-desktop</execute>
				</action>
			</item>
			<separator/>
			<menu id="settings-41155" label="session">
				<item label="info">
					<action name="Execute">
						<execute>xfce4-terminal -e &quot;/home/diamond/bin/info&quot; --title sysinfo --geometry=55x15</execute>
					</action>
				</item>
				<separator/>
				<item label="logout">
					<action name="Exit"/>
				</item>
				<item label="suspend">
					<action name="Execute">
						<execute>systemctl suspend</execute>
					</action>
				</item>
			</menu>
		</menu>
	</menu>
</openbox_menu>
