[Desktop Entry]
Name=XTerm
Comment=standard terminal emulator for the X window system
Exec=xterm
Terminal=false
Type=Application
Encoding=UTF-8
Icon=xterm_48x48
Categories=System;TerminalEmulator;
Keywords=shell;prompt;command;commandline;cmd;
X-XFCE-Source=file:///usr/share/applications/xterm.desktop
Path=
StartupNotify=false
